.container {
	margin: 2% 10% 0 10%;
	/* background-color: #d8e7fc; */
}

.header-wrapper {
	font-family: "Mulish", sans-serif;
	/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
	/* font-weight: bold; */
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-color: #bfd7fa;
	height: 60px;
	/* padding: 0 0px 0 0px; */
	border-radius: 10px;
}
.left-header {
	display: flex;
	flex: 2;
	/* justify-content: space-between; */
	padding-left: 10px;
	align-items: center;
}
.right-header {
	display: flex;
	flex: 1;
	justify-content: space-around;
	align-items: center;
}
.steps-dropdown {
	position: relative;
	display: inline-block;
}

.steps-dropdown a {
	text-decoration: none;
	color: rgb(36, 36, 36);
}

.steps-dropdown > .steps-dropdown-items {
	/* margin-top: 5px; */
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	width: 200px;
	border-radius: 10px;
	z-index: 999;
}

.steps-dropdown > .steps-dropdown-items a {
	padding: 12px 16px;
	display: block;
}

.steps-dropdown > .steps-dropdown-items a:hover {
	background-color: #ddd;
}

.steps-dropdown:hover .steps-dropdown-items {
	display: block;
}

.steps-dropdown:hover .dropdown-title {
	color: teal;
}

/**
css for section2 component
**/

.section2 {
	background-color: #d8e7fc;
	font-family: "Mulish", sans-serif;
	text-align: center;
	border-radius: 10px;
	padding: 40px;
	margin-top: 1%;
}

.section2 p {
	margin: 0 10% 0 10%;

	/* font-weight: bolder; */
	line-height: 2;
	font-size: 17px;
}
.section2 .button-wrapper {
	line-height: 5;
}

.section2 .button-wrapper .get-started-button {
	border-radius: 30px;
	background-color: rgb(25, 99, 238);
	color: white;
}

/*
CV steps components style
*/

.cv-steps {
	font-family: "Mulish", sans-serif;
	margin-top: 1%;
	display: flex;
	justify-content: space-between;
	/* text-align: center; */
	/* align-items: center; */
}

.cv-steps div div {
	width: 350px;
	text-align: center;
}

.cv-steps div img {
	width: 350px;
	height: 250px;
	border-radius: 10px;
}
